<center>
	<h2>Search results for "<%= @query %>":</h2>

	Users:<br />
	<% for u in @user_results %>
		<%= link_to u.name, u %><br />
	<% end %>
	
	<br />
	Leagues:<br />
	<% for l in @league_results %>
		<%= link_to l.game, l %><br />
	<% end %>
</center>